body {
  /*background: url(../images/ucrchessclublogo.png);
	background-repeat: no-repeat;
	background-size:auto;*/
  margin: 0px;
}

div#testparent {
  color: red;
  border: 1px solid red;
}

div.MainPage {
  margin-top: 45px;
  background: url(../images/pinkbackgroundmid.png) no-repeat top center;
  background-size: cover;
}

div#Navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #9f9f9f;
  background-color: #efefef;
  align-content: center;
}

div.NavbarElement {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 31px;
  font-family: "Roboto Slab";
  float: left;
}

div.NavbarElement#ClubLogo {
  background: url(../images/ucrchessclublogo.png) no-repeat top center;
  background-size: auto 100%;
}

div.NavbarElement:hover {
  background-color: #9f9f9f;
}

div.UCRChessClubHeader {
  font-family: "Montserrat";
  color: #efefef;
  text-align: center;
}

div.UCRChessClubHeader#CHESSCLUB {
  font-size: 100px;
}

div.UCRChessClubHeader#atUCR {
  font-size: 82px;
}

/*p#UCRChessClubHeader { 
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color:#cf6f8f; 
	text-align:center; 
	font-family:Courier;
}
*/
