div#Navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #9f9f9f;
  background-color: #efefef;
  align-content: center;
}

div.NavbarElement {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 31px;
  font-family: "Roboto Slab";
  float: left;
}

div.NavbarElement#ClubLogo {
  background: url(../images/checkmate.PNG) no-repeat top center;
  background-size: auto 100%;
}

div.NavbarElement:hover {
  background-color: #9f9f9f;
}

div.UCRChessClubHeader {
  font-family: "Montserrat";
  color: #2c2f33;
  text-align: center;
}


/*p#UCRChessClubHeader { 
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-color:#cf6f8f; 
	text-align:center; 
	font-family:Courier;
}
*/
