body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}
